@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

.video-section-container {
  padding: 4rem 2rem 8rem 2rem;
  background-color: #ffffff;
  text-align: center;
  @include mobile {
    padding: 3rem 1rem 1rem 1rem;
  }

  .video-title {
    font-family: var(--font-serif);
    font-size: 3rem;
    font-weight: 400;
    color: #1a1a1a;
    margin-bottom: 3.5rem;
    @include mobile {
      font-size: 2.2rem;
      margin-bottom: 1rem;
    }
  }

  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background-color: #000000;
    .bg-video {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
}
