.swiper {
  width: 100%;
  height: 100%;

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    height: 100%;
    color: var(--color-text-main);
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;

    .product-card {
      width: 100%;
      height: 100%;
      .image-wrapper {
        width: 100%;
        height: 80%;
        overflow: hidden;
        border-radius: 12px 12px 0 0;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 0.3s ease;

          &:hover {
            transform: scale(1.05);
          }
        }
      }
      .product-info {
        padding: 1rem;
        text-align: left;

        .product-name {
          font-size: 1.2rem;
          font-weight: 600;
          margin-bottom: 0.5rem;
        }

        .price {
          display: flex;
          font-size: 1.1rem;
          .rupee-icon {
            margin: 0.08rem 0.25rem;
          }
        }
      }
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: black;
    width: 2rem;
    height: 2rem;
  }
}
